<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540060939628-8ds94gn4o4ier2jck2e8vf1000e8g6li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540060939628-8ds94gn4o4ier2jck2e8vf1000e8g6li</string>
	<key>API_KEY</key>
	<string>AIzaSyAVkPsN_WAovxaeIPVkKKVzLB_00nQGHm8</string>
	<key>GCM_SENDER_ID</key>
	<string>540060939628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-a67f7</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-a67f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540060939628:ios:1a0842ba8593c38657af49</string>
</dict>
</plist>